{
    "type": "postgres",
    "host": "localhost",
    "port": 5432,
    "username": "postgres",
    "password": "password",
    "database": "materials",
    "synchronize": true,
    "logging": false,
    "entities": [
       "dist/**/*.entity{.ts,.js}"
      ],
    "migrations": [
       "src/migration/**/*.ts"
    ],
    "subscribers": [
       "src/subscriber/**/*.ts"
    ]    
 }